
.container {
    background: black;
    width: 1440px;
    min-height: 1800px;
    margin: 0 auto;
}

.abstraction {
    width: 1440px;
    height: 700px;
}

.circle:nth-child(1) {
    position: absolute;
    width: 137px;
    height: 137px;
    background-color: white;
    border-radius: 12px;
    margin-top: 68px;
    margin-left: 74px;
}

.circle:nth-child(2) {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 32px;
    margin-top: 453px;
    margin-left: 91px;

}

.circle:nth-child(3) {
    position: absolute;
    width: 51px;
    height: 51px;
    background-color: white;
    border-radius: 32px;
    margin-top: 337px;
    margin-left: 238px;
}

.circle:nth-child(4) {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 32px;
    margin-top: 484px;
    margin-left: 364px;
}

.circle:nth-child(5) {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 32px;
    margin-top: 47px;
    margin-left: 454px;
}

.circle:nth-child(6) {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 32px;
    margin-top: 23px;
    margin-left: 730px;
}

.circle:nth-child(7) {
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 32px;
    margin-top: 484px;
    margin-left: 895px;
}

.circle:nth-child(8) {
    position: absolute;
    width: 83px;
    height: 83px;
    background-color: white;
    border-radius: 32px;
    margin-top: 68px;
    margin-left: 1134px;
}

.circle:nth-child(9) {
    position: absolute;
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 32px;
    margin-top: 294px;
    margin-left: 1134px;
}

.circle:nth-child(10) {
    position: absolute;
    width: 63px;
    height: 63px;
    background-color: white;
    border-radius: 32px;
    margin-top: 453px;
    margin-left: 1217px;
}

.btn {
    position: absolute;
    height: 73px;
    width: 264px;
    border-radius: 32px;
    background-color: white;
    cursor: pointer;
    margin-top: 301px;
    margin-left: 570px;
    font-family: 'Space Grotesk';
    font-size: 17px;

}

.color {
    background-color: white;
    color: #750505;

}

.btn:active {
    transition: 0.1s;
    transform: scale(0.98);

}


.container-card {

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 1440px;

}

.box {
    position: relative;
    width: 178px;
    height: 251px;
    margin-left: 53px;
    margin-top: 34px;

}



.card {

    position: absolute;
    width: 178px;
    height: 251px;
    background: #3e3e3e;
    /*margin-left: px;*/
    /*margin-top: 34px;*/
    border-radius: 12px;
    z-index: 1;

}

.pictures {
    position: absolute;
    width: 164px;
    height: 194px;
    left: 3.77%;
    right: 3.77%;
    top: 2.56%;
    bottom: 19.87%;
    border-radius: 12px;
    z-index: 1;
}

.card-name {
    color: white;
    position: absolute;
    left: 9.43%;
    right: 46.7%;
    top: 6.41%;
    bottom: 85.9%;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: -0.04em;
    z-index: 2;

}

.card-description {
    position: absolute;
    left: 9.43%;
    right: 31.13%;
    top: 86.54%;
    bottom: 6.41%;
    color: white;

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.04em;
    z-index: 2;

}

.delete {
    position: absolute;
    background: url("../img/trash-box.png") no-repeat;
    width: 23px;
    height: 23px;
    border: none;
    cursor: pointer;
    left: 72px;
    top: 225px;

}

.delete-card {
    position: absolute;
    width: 176px;
    height: 250px;
    background: white;
    border-radius: 12px;
    top: 1px;
    z-index: 0;
    left: 1px;


}

.box:hover .delete-card{
    transform: translateY(30px);
}